body {
  background: rgba(27, 40, 56, 1);
  margin: 0;
  padding: 0;
}

.App {
}

* {
  box-sizing: border-box;
  text-decoration: none;
  color: rgba(220, 222, 223, 1);
  list-style: none;
  font-family: "Pretendard", sans-serif;
}
